<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav><h1><%= title %></h1></nav>

    <div class="container">
      <div class="messages">
        <% messages.forEach((message) => { %>
        <div class="message">
          <a href="/message/<%= message.id%>">
            <p class="user"><%= message.username %></p>
            <p class="text"><%= message.message %></p>
            <p class="date"><%= message.date %></p>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
    <a class="newMessage" href="/new">
      <img src="add.png" alt="add message"
    /></a>
  </body>
</html>
